/** Haut de la page */

body {
  font-family: "Raleway", "Sans serif";
  margin: 0;
  width: 98%;
  max-width: 1440px;
  margin: auto;
}

a {
  text-decoration: none;
  color: initial;
}

/** Logo + Barre de navigation  **/

.navbar {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 8fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "logo . accomodation activities";
}

#logo {
  padding: 0;
}

.navbar .navbar-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.navbar .navbar-link .underline-effect {
  width: 100%;
  height: 3px;
  background: white;
}

.navbar #navbar-link-accomodation > .underline-effect {
  background: #0065fc;
}

.navbar #navbar-link-activities:hover > .underline-effect {
  background: #0065fc;
}


.navbar a {
  color: black;
  text-decoration: none;
  padding: 25px;
}

.navbar a:visited {
  color: #0065fc;
}

.navbar img {
  grid-area: logo;
}

.navbar #navbar-link-accomodation {
  grid-area: accomodation;
}

#navbar-link-accomodation a {
  color: #0065fc;
}

.navbar #navbar-link-activities {
  grid-area: activities;
  color: black;
}

.navbar #navbar-link-activities a {
  color: black;
}

.navbar #navbar-link-activities a:hover {
  color: #0065fc;
}

.headerTitle {
  font-size: 24px;
  margin: 10px 0;
}

.research-box {
  display: inline-flex;
  flex-direction: row;
  margin-top: 15px;
  margin-bottom: 35px;
}

.filters h3 {
  font-size: 24px;
  display: inline;
}

.filters ul {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
}

.filters ul li {
  display: inline;
  margin-left: 25px;
  font-weight: 700;
  border: solid 2px #e2e2e2;
  padding: 0 20px 0 0;
  margin-top: 10px;
  border-radius: 200px;
}

.info p {
  display: inline;
}

.icon-location {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: auto;
  background-color: #F2F2F2;
  border-radius: 14px 0 0 14px;
}

.fa-map-marker-alt {
  font-size: 20px;
}

.searchForm {
  border-right: none;
  border-left: none;
  border-top: #F2F2F2 1px solid;
  border-bottom: #F2F2F2 1px solid;
  padding: 0 1.5rem;
  box-sizing: border-box;
  width: 14rem;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Raleway", "Sans serif";
}

.button-research {
  border: none;
  border-radius: 0 14px 14px 0;
  background-color: #0065fc;
  color: white;
  font-weight: 700;
  font-size: 16px;
  padding: 17px;
  cursor: pointer;
}

.button-research:hover {
  background-color: #003c96;
  transition: ease 0.3s;
}

/** Partie filtres + Icone et bouton **/

.filters h3 {
  font-size: 24px;
  display: inline;
}

.filters ul {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
}

.filters ul li {
  display: inline;
  margin-left: 25px;
  font-weight: 700;
  border: solid 2px #b1b1b1;
  padding: 0 20px 0 0;
  margin-top: 10px;
  border-radius: 200px;
}

.filters ul li:hover {
  cursor: pointer;
  background: #c7ddff;
  transition-duration: 0.25s;
}

.icon-filter {
  background-color: #DEEBFF;
  color: #0065fc;
  padding: 18px;
  border-radius: 200px;
  margin-right: 15px;
}

.info .fas {
  color: #0065fc;
  font-size: 16px;
  padding: 7px 11px 7px 11px;
  border: solid 1px #D9D9D9;
  border-radius: 2000px;
  margin-right: 20px;
}

/** Section avec les hébergements et les plus populaires **/

.hosting {
  display: grid;
  column-gap: 2rem;
  grid-template-columns: 6fr 3fr;
  margin: 40px 0 60px 0;
}

.hostingMain {
  background-color: #F2F2F2;
  border-radius: 1.5rem;
  padding: 2rem;
}

.hostingPopular {
  background-color: #F2F2F2;
  border-radius: 1.5rem;
  padding: 2rem;
}

.hostingMainCardGradeIcon {
  color: #0065fc;
}

.hostingMainCardGradeIconEmpty {
  color: #D9D9D9;
}

/** Hébergements à Marseille **/

.hostingMainCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 27px;
  padding: 0 0 0 0;
}

.hostingMainCard:hover {
  transform: scale(1.10)
}

.hostingMainCard {
  background-color: white;
  padding: 0.375rem;
  border-radius: 1.25rem;
  box-shadow: 0 0 16px #0000002e;
  transition-duration: 0.1s;
  cursor: pointer;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.hostingMainCardImg {
  width: 100%;
  height: 8rem;
  max-height: 100%;
  background-size: 100% 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.hostingPrice {
  margin-top: 5px;
  margin-bottom: 5px;
}

.hostingMainCardTitle {
  margin: auto;
}

.hostingHeaderTitle {
  margin-top:0px;
}

.hostingMainViewmore {
  display: block;
  width: 100%;
  margin-top: 20px;
  font-weight: bold;
}

/** Les plus populaires **/

.hostingPopular {
  display: grid;
  row-gap: 2rem;
  align-items: start;
  grid-template-rows: auto repeat(3, 1fr);
}

.hostingPopularWrapcontent {
  display:flex;
}

.hostingPopularTitle {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0px;
}

.hostingPopularCard {
  display: flex;
  margin: 0;
  background-color: white;
  border-radius: 20px;
  padding: 7px 0 7px 7px;
  box-shadow: 0px 0px 6px 0px #0000002e;
}

.hostingPopularimgImg {
  width: 100%;
  height: 100%;
  max-height: 110px;
  min-width: 170px;
  border-radius: 20px 0 0 15px;
  object-fit: cover;
}

.hostingPopularContent {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hostingPopularCardTitle {
  margin-top: 5px;
  margin-bottom: 5px;
}